@import "tailwindcss";

:root {
  --background-body: #000000 !important;
  --navbar: #00000088 !important;
  --section: #111111 !important;
  --text-color: #f5f5f5 !important;
}

body {
  color: var(--text-color) !important;
  background: var(--background-body) !important;
  overflow-x: none !important;
}

.card-section {
  color: var(--text-color) !important;
  background: var(--section) !important;
  border: 1px solid #222 !important;
}

.frame {
  filter: grayscale(100%) invert(100%) !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance !important;
  }
}