@import "tailwindcss";

:root {
  --background-body: #000000 !important;
  --navbar: #00000088 !important;
  --section: #151515 !important;
  --text-color: #f5f5f5 !important;
}
body {
  color: var(--text-color) !important;
  background: var(--background-body) !important;
  overflow-x: none !important;
}
.card-section {
  color: var(--text-color) !important;
  background: var(--section) !important;
}
.frame {
  filter: grayscale(100%) invert(100%) !important;
}
@layer utilities {
  .text-balance {
    text-wrap: balance !important;
  }
}